<div id="<%= judge_leaders_cat_id(category) %>" class='judge-leaders-category'>
  <h4><%= category.name %></h4>
  <table class='judge_leaders'>
    <tbody>
      <%= render :partial => 'judges/stats_header', :object => 'Judge' %>
      <%= render :partial => 'jy_result', :collection => jy_results %>
    </tbody>
  </table>
</div>
