<tr><td><%= "\u2713" if regional_series_pilot.qualified %></td>
<td><%= regional_series_pilot.rank %></td>
<td><%= regional_series_pilot.pilot.name %></td>
<td><%= regional_series_pilot.percentage %>%</td>
</tr>
