<a class='target' name='<%= regional_series_result[0] %>'/>
<h2 class='regional'><%= regional_series_result[0] %></h2>
<div class='navigation'>
<%= render :partial => 'regional_series_regions', :collection => @regions.reject { |r| r == regional_series_result[0] } %>
</div>
<%= render :partial => 'regional_series_category', :collection => regional_series_result[1],
  :locals => { :region => regional_series_result[0] } %>
