<tr><td colspan='2'/><td><%= regional_series_pilot_contest.contest.name %></td>
<td><%= decimal_pct_two(regional_series_pilot_contest.category_value,
  regional_series_pilot_contest.total_possible) %>%</td>
</tr>
