<h1>Collegiate Results, <%= @year %></h1>
<p> <%= @years.map{ |year| link_to year, leaders_collegiate_path(year) }.join(' ').html_safe %> </p>
<p><strong>Notes:</strong></p>
<ul>
  <li>All results are provisional until the contest year ends and the winners are announced.</li>
  <li>Team rank is only displayed if the team has qualified for the Team Award.</li>
  <li>Individual rank is only displayed if the pilot has qualified for the Individual Award.</li>
  <li>
    Team "percent" is the average of the best three contests in Sportsman by a single pilot, combined
    <br>
    with the best three contests flown by the top two remaining pilots in Primary, Sportsman, and/or Intermediate.
  </li>
  <li>
    Individual "percent" is the average of the pilot's best three contests regardless of category.
  </li>
  <li>
    The full collegiate award criteria are listed in
    <%= link_to 'IAC Policy and Procedure', 'https://www.iac.org/policy-and-procedure-manual',
                target: '_blank', title: 'Click to Open' %>
    #225, Section 7.
  </li>
</ul>

<br>

<table class='collegiate'>
  <thead>
    <tr>
      <th colspan='3'></th>
      <th>points</th>
      <th>possible</th>
      <th>percent</th>
    </tr>
  </thead>
  <tbody>
    <%= render @collegiates, :locals => { college_pilots: @college_pilots } %>
  </tbody>
</table>
