<h1>Regional Series, <%= @year %></h1>

<p>
<% @years.each do |year| %>
  <%= link_to year, leaders_regionals_path(year) %>
<% end %>
</p>

<%= render :partial => 'regional_series_result', :collection => @results %>
