.git
.gitignore
README.md
.env
.nyc_output
coverage
node_modules
tmp/
log/
.DS_Store
*.swp
*.swo
*~
spec/
test/
doc/
sample_data/*
!sample_data/cdb20190423071929.sql.gz
xslt/
java/
cmd/
script/
public/documents/
.gitattributes
.travis.yml
.codeclimate.yml
.csslintrc
.eslintignore
.eslintrc
coffeelint.json
.rspec
.rubocop.yml
.rbenv-gemsets
notes_to_self.txt
NOTICE
testJasperSubmission.sh
