.*.swp
.~lock*
.git
.gems*
.bundle
db/*.sqlite3*
log/
tmp/**/*
vendor/cache
posts/
.sass-cache/
dbBackup/
public/assets
.DS_Store
config/database.yml
*.dia~
coverage/
.idea
.generators
.rakeTasks

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
