.*.swp
.~lock*
.git
.gems*
.bundle
db/*.sqlite3*
log/
tmp/**/*
!tmp/restart.txt
vendor/cache
posts/
.sass-cache/
dbBackup/
public/assets
.DS_Store
*.dia~
coverage/
.idea
.generators
.rakeTasks

# Ignore master key for decrypting credentials and more.
/config/master.key
