.*.swp
.~lock*
.git
.gems*
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
IACContestData
AppleCup2012
vendor/cache
nationals2011
nationals2012
nationals2014
.DS_Store
dbBackup/
posts/
.sass-cache/
public/assets
