<h1>Assistant <%= @assistant.name %></h1>

<%= render :partial => 'judges/credits', :collection => @flight_assists, 
  :locals => { :role => 'assisted' } %>

<ul class="no-bullets">
  <%= render :partial => 'flight_record', :collection => @flights_history %>
</ul>
