<h1>Assistant <%= @assistant.name %></h1>

<%= render :partial => 'credits', :collection => @j_results %>

<ul class="no-bullets">
  <%= render :partial => 'judges/flight_record', :collection => @jf_results %>
</ul>
