<% j_result = cat_stats[:values] %>
<tr>
  <td colspan='2'/>
  <td class='category-label'>
  <% if j_result.kind_of? JcResult %>
    <%= link_to cat_stats[:label],
      contest_path(j_result.contest) %>
  <% else %>
    <%= cat_stats[:label] %>
  <% end %>
  </td>
  <%= render :partial => 'judges/stats_column_values', :object => j_result %>
</tr>
