<table class='judge_metric_glossary'>
<tbody>
<tr>
<th>ρ</th>
<td>Rank agreement as the Spearman Rank Corellation Coefficent (rho)</td>
</tr>
<tr>
<th>ri</th>
<td>CIVA judge metric that scales differences between the judge score and
overall score by the difference in rank.</td>
</tr>
<tr>
<th>γ</th>
<td>Rank agreement as the Goodman and Kruskal Correlation Coefficient (gamma)</td>
</tr>
<tr><th>Np</th><td>The number of pilots</td></tr>
<tr>
<th>Npp</th><td>The number of pilot pairs.
A flight with six pilots has Np(Np - 1)/2 = 15 pairs.</td>
</tr>
<tr><th>Nf</th><td>The number of flight programs</td></tr>
<tr><th>Fza</th><td>The average number of pilots in a flight program</td></tr>
<tr><th>Ng</th><td>The number of grades given</td></tr>
<tr><th>Ka</th><td>The average K for a figure graded</td></tr>
<tr><th>Mz</th><td>The number of minority zero grades</td></tr>
<tr><th>Mg</th><td>The number of minority grades</td></tr>
</tbody>
</table>

