  <th><span title="The Spearman Rank Corellation Coefficient scaled to range from -100 to 100. 100 means the judge ranked the pilots exactly the same as the result ranking before penalties.">ρ</span></th>
  <th><span title="ri is the CIVA computation that scales differences in the judge score and overall score by the difference in rank. A zero RI represents perfect agreement in the rankings.">ri</span></th>
  <th><span title="The Goodman and Kruskal gamma correlation coefficient scaled to range
  from -100 to 100.  100 means the judge ranked the pilots exactly the same as the result ranking before penalties.">γ</span></th>
  <th><span title="The number of pilots judged">Np</span></th>
  <th><span title="The number of pilot pairs judged, Np * (Np - 1) / 2">Npp</span></th>
  <th><span title="The number of flights judged">Nf</span></th>
  <th><span title="The average number of pilots in a flight">Fza</span></th>
  <th><span title="The number of grades given">Ng</span></th>
  <th><span title="The average K of figures graded">Ka</span></th>
  <th><span title="The number of minority hard zero grades">Mz</span></th>
  <th><span title="The number of minority grades">Mg</span></th>
