<table class='judge_results'><thead>
<tr>
<th colspan='2'>Judge</th>
<%= render :partial => 'judges/stats_column_headers' %>
</tr>
<tbody>
<% j_results.each_with_index do |j_result, j| %>
  <tr>
  <td class='judge_name'><%= "J#{j+1}" %></td>
  <td class='judge_name'><%= link_to j_result.judge_name, judge_histograms_path(j_result.judge_id, j_result.f_result_id) %></td>
  <%= render :partial => 'judges/stats_column_values', :object => j_result %>
  </tr>
<% end %>
</tbody></table>
