<table class='judge_results'><thead>
<tr>
<th>Judge</th>
<%= render :partial => 'judges/stats_column_headers' %>
</tr>
<tbody>
<% j_results.each_with_index do |j_result, j| %>
  <tr>
  <td class='judge_name'><%= "J#{j+1} #{j_result.judge_name}" %></td>
  <%= render :partial => 'judges/stats_column_values', :object => j_result %>
  </tr>
<% end %>
</tbody></table>
