<h1>Judge <%= @judge.name %></h1>

<%= render :partial => 'credits', :collection => @j_results %>

<ul class="no-bullets">
  <%= render :partial => 'flight_record', :collection => @jf_results %>
</ul>
