<h1><%= @member.name %></h1>

<%= render 'members/participation' %>

<div class='actions'>
  <p class='action'>
    <%= link_to :index, admin_member_index_path(:anchor => @member.id) %>
  </p>
</div>

