<h2><%= flight.displayName %></h2>
<p>Chief judge <%= flight.display_chief %></p>

<h3>Pilots</h3>
<% flight.pilot_flights.each do |pilot_flight| %>
  <% pilot = pilot_flight.pilot %>
  <%= link_to ("#{pilot.name}", pilot_score_path(pilot, flight.contest)) %>
  <%= ', ' %>
<% end %>
