<h1>IAC Contests, <%= @year %></h1>
<p>
<% @years.each do |year| %>
  <%= link_to year, contests_path(:year => year) %>
<% end %>
</p>

<% unless @contests.empty? %>
  <ul class="contests no-bullets">
    <%= render(
      partial: 'contest',
      collection: @contests,
      locals: { post_date: true }
    ) %>
  </ul>
<% end %>

<% unless @future_contests.empty? %>
  <h3>Future contests</h3>
  <ul class="no-bullets future-contests">
    <%= render(
      partial: 'contest',
      collection: @future_contests,
      locals: { post_date: false }
    )%>
  </ul>
<% end %>

