<h1>IAC Contests, <%= @year %></h1>
<p>
<% @years.each do |year| %>
  <%= link_to year, contests_path(:year => year) %>
<% end %>
</p>

<% unless @contests.empty? %>
  <ul class="no-bullets">
    <%= render @contests %>
  </ul>
<% end %>

<% unless @future_contests.empty? %>
  <h3>Future contests</h3>
  <ul class="no-bullets future-contests">
    <%= render @future_contests %>
  </ul>
<% end %>

