<p id="notice"><%= notice %></p>

<h1><%= link_to @pilot.name, pilot_path(@pilot) %></h1>
<h2><%= link_to (@contest) do "#{@contest.name} #{@contest.start}" end %></h2>

<% @pilot_flights.each_with_index do |pf,i| %>
  <div class="flightScores">
  <%= render :template => 'pilot_flights/flight', 
    :locals => { :pilot_flight => pf } %>
  </div>
<% end #flights %>
