<p id="notice"><%= notice %></p>

<h1><%= link_to @pilot.name, pilot_path(@pilot) %></h1>
<h2><%= link_to (@contest) do "#{@contest.name} #{@contest.start}" end %></h2>

<% @pilot_flights.each_with_index do |pf,i| %>
  <div class="flightScores">
  <%= render :template => 'pilot_flights/flight', 
    :locals => { :pilot_flight => pf } %>
  </div>
<% end #flights %>

<p>Results shown on these pages are computed by this system for study only.
Official results are computed by the IAC Scoring program on-site at each
contest and published at <a href="http://www.iac.org/">IAC.org</a>.</p>
