<tr class='collegiate_team'>
  <td class='rank'>
    <% if collegiate_result.qualified %>
      <%= collegiate_result.rank.ordinalize%>
    <% else %>
      <span title='Team Does Not Qualify'>NQ</span>
    <% end %>
  </td>
  <td class='team_name'><%= collegiate_result.name %></td>
  <td></td>
  <td></td>
  <td></td>
  <td class='percentage'><%= decimal_two(collegiate_result.result_percent) %>%</td>
  <td></td>
</tr>
<%= render :partial => 'collegiate_results/collegiate_individual',
   :collection => @college_pilots[collegiate_result],
   :locals => { combination: collegiate_result.pc_results } %>
