<tr class='pilot'>
  <td colspan='2' class='pilot'><%= collegiate_individual.pilot.name %></td>
  <td class='rank'>
    <%= collegiate_individual.rank.ordinalize if collegiate_individual.qualified %>
  </td>
  <td></td>
  <td></td>
  <td class='percentage'><%= decimal_two(collegiate_individual.result_percent) %>%</td>
</tr>
<%= render :partial => 'collegiate_results/pilot_contest',
   :collection => collegiate_individual.pc_results.sort_by{ |pr| -pr.pct_possible },
   :locals => { combination: combination } %>
