<h1>Editing Free Program K</h1>

<%= render 'form', free_program_k: @free_program_k %>

<%= link_to 'Show', admin_free_program_k_path(@free_program_k) %> |
<%= link_to 'Back', admin_free_program_ks_path %>
