span.pilot {
  padding-right: 3pt;
}

div.flightScores {
  display: inline-block;
  margin-right: 20px;
}

.hide {
  visibility:hidden;
}

.navigation ul {
  margin-top: 0px;
  list-style-type: none;
}

ul.bare {
  margin-top: 0px;
  list-style-type: none;
}

td.navigation {
  vertical-align:top;
  padding-right: 10px;
}

td.content {
  padding-left: 10px;
  border-left: 2pt solid black;
}

div.acknowledgement {
  padding-left: 10px;
  padding-top: 20px;
  font-style: italic;
  font-size: very-small;
  color: #77a;
}

div.acknowledgement p {
  margin-bottom: 0px;
}

div.acknowledgement ul {
  margin-top: 0px;
  list-style-type: none;
}
