td.score,
td.figure_number,
th.figure_number,
td.total_average,
td.percentage {
  text-align:right;
}

td.k_value {
  text-align:right;
  padding-left: 4pt;
}

td.summary_label {
  text-align:right;
  padding-right:4pt;
}

td.rank {
  text-align:right;
  padding-right:15px;
}

table.scores td.rank {
  padding-right:2pt;
}

td.points {
  text-align:right;
  padding-right:4pt;
}

td.rho,
td.cc,
td.ri,
td.tau,
td.gamma,
td.mz_count,
td.mg_count {
  text-align:right;
  padding-left:3pt;
}
