<p>The International Aerobatic Club (IAC)
is calling for proposals for maintenance of these contest results pages.
Please refer to the
<%= link_to "call for proposals",
  "https://github.com/wbreeze/iaccdb/blob/master/CFP.md" %>
and the open source repository at
<%= link_to "GitHub wbreeze/iaccdb", "https://github.com/wbreeze/iaccdb" %>
for details.
</p>
