      <div id="footer">
        <p>As of the 2014 contest year, these are official results.
        Results prior to 2014 are computed by this system for study and archival purposes only.
        <p>See the
        <%= link_to 'Notes page', pages_path(:notes) %>
        for explanations of the numbers.</p>
        <p>These pages appear to you thanks to: </p>
        <ul>
          <li>"Manny," the contest results tracking system built by Randy Owens; </li>
          <li>"JaSPer," the contest scoring and data management system
          built by 'Bwana' Bob Buckley;</li>
          <li>Our contest scorekeepers who key-in the data; and</li>
          <li> Web wizardry by Douglas Lovell and <a href='mailto:djmolny@gmail.com'>DJ Molny</a>. </li>
          <li> <%= render 'shared/contact' %> </li>
        </ul>
        <p>Copyright &#169;2012-<%=Time.now.year%> Douglas Lovell</p>
        <p>Licensed under the
          <a href="http://www.apache.org/licenses/LICENSE-2.0">
          Apache License, Version 2.0</a>
        </p>
      </div>
