<h1>IAC Pilots</h1>

<% letter = '' %>
<% @pilots.each do |pilot| %>
  <% fam_name = pilot.family_name || 'X' %>
  <% lead_letter = fam_name[0] || 'X'[0] %>
  <% lead_letter = lead_letter.chr.upcase %>
  <% if lead_letter != letter %>
    <% if letter != '' %>
      </p> 
    <% end %>
    <p class='letter-index'>
    <span class='letter-index'><%= lead_letter %></span>
    <% letter = lead_letter %>
  <% end %>
  <span class="para-index">
  <%= link_to ("#{pilot.name}", pilot_path(pilot)) %>
  </span>
<% end %>
</p>
