<div class='live-results'></div>
<p id="notice"><%= notice %></p>

<h1><%= @contest.name %></h1>

<% if @categories.empty? %>
  <p class='message'>This contest has not posted any results.</p>
<% end %>

<%= render :partial => 'contests/category', collection: @categories,
  :locals => { no_category_chiefs: (@contest.chief_names.length < 2), live_results: true }
%>
