<%= render 'admin/admin_menu' %>

<% if flash[:notice] %>
  <p class='notice'><%= flash[:notice] %></p>
<% end %>

<h1>Admin Manny Synch Records</h1>

<table>
<thead>
  <tr>
    <th>m_no</th>
    <th>c_id</th>
    <th>synch date</th>
    <th>name</th>
    <th>start</th>
    <th>place</th>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'synch_record', :collection => @manny_synchs %>
</tbody>
</table>
