p.contest_director,
p.contest_chief,
p.category-chief,
p.contest_place {
  margin-bottom: 0pt;
}
p.message {
  margin-left: 3em;
  margin-top: 2ex;
  font-weight: bold;
  font-size: larger;
}
span.missing-results {
  font-weight: bold;
}
div.live_results { display: none; }
