span.para-index {
  padding-right: 3pt;
}

span.letter-index {
  font-weight: bold;
  padding-right: 4pt;
}

div.flightScores {
  display: inline-block;
  margin-right: 20px;
}

.hide {
  visibility:hidden;
}

ul.bare {
  margin-top: 0px;
  list-style-type: none;
}

div#content {
  padding-left: 10px;
}

div#content p {
  max-width: 700px;
}

div#footer {
  padding-top: 20px;
  font-style: italic;
  font-size: 6pt;
  color: #77a;
}

div#footer p {
  margin-bottom: 0px;
}

div#footer ul {
  margin-top: 0px;
  list-style-type: none;
}
