div.report_notes {
  clear:both;
}

div.report_notes dt {
  font-weight: bold;
}

img.notes_image {
  padding:10pt;
  border:2pt solid black;
  margin-left:20px;
  float:left;
}

p.notes_text {
  clear:left;
}

img.inline-formula {
  vertical-align: middle;
}

span.inline-formula {
  font-style: italic;
}
p.code { 
  margin-left: 3em; font-family: monospace; white-space: pre 
}
span.code { 
  font-family: monospace 
}
