a.linked_tooltip_header {
  text-decoration:none;
}

td.score,
td.figure_number,
th.figure_number,
td.total_average,
td.percentage {
  text-align:right;
}

td.regional_series_pilot_contest {
  padding-left: 12pt;
}

td.regional_series_pilot_name {
  font-weight:bold;
}

h2.regional { margin-bottom:0px; }
h3.regional { margin-bottom:0px; }
div.navigation { 
  margin-top:0px; margin-bottom:1ex; 
}

td.k_value {
  text-align:right;
  padding-left: 4pt;
}

td.summary_label {
  text-align:right;
  padding-right:4pt;
}

td.rank {
  text-align:right;
  padding-right:15px;
}

table.scores td.rank {
  padding-right:2pt;
}

td.points {
  text-align:right;
  padding-right:4pt;
}

td.label,
td.rho,
td.cc,
td.ri,
td.tau,
td.gamma,
td.mz_count,
td.mg_count,
td.count,
td.avg {
  text-align:right;
  padding-left:6pt;
}

table.judge_leaders th {
  vertical-align:bottom;
}

table.judge_leaders th.year,
table.judge_leaders th.category {
  padding-top:15px;
  text-align:left;
}

table.judge_cv th {
  text-align:right;
}

table.judge_cv th.year {
  padding-top:8pt;
  text-align:left;
}

table.judge_metric_glossary th {
  text-align:right;
}

table.judge_metric_glossary {
  margin-top:1ex;
}

