body {
  background-color: white;
  color: #444;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

p.action,
p.item {
  margin-top: 0px;
  margin-bottom: 0pt;
}

div.actions {
  margin-top: 1ex;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table {
  width: auto;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

a.target:link,
a.target:visited,
a.target:hover,
a.target:active { color: #000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.c { text-align: center; }
.r { text-align: right; }
.l { text-align: left; }
.t { vertical-align: top; }
.m { vertical-align: middle; }
.b { vertical-align: bottom; }

tr.no-shading td {
  background-color: white;
}

table.leo td { vertical-align: top; }
td.leocheck { padding-right: 0; }
td.leocheck + td { padding-left: 3px; }
