<tr class='soucy_contest'>
<td class='contest_name' colspan='2'><%= pc_result.contest.name %></td>
<td class='points'><%= decimal_two(pc_result.category_value) %></td>
<td class='points_possible'><%= pc_result.total_possible %></td>
<td class='percentage'><%= decimal_two(pc_result.pct_possible) %>%</td>
</tr>
