<tr class='soucy-contest'>
<td colspan='2'><%= pc_result.contest.name %></td>
<td><%= score_two(pc_result.category_value) %></td>
<td><%= pc_result.total_possible %></td>
<td><%= score_two(pc_result.pct_possible) %>%</td>
</tr>
